*~
/talks/ghm-2014/guix-ghm-2014.aux
/talks/ghm-2014/guix-ghm-2014.log
/talks/ghm-2014/guix-ghm-2014.nav
/talks/ghm-2014/guix-ghm-2014.out
/talks/ghm-2014/guix-ghm-2014.pdf
/talks/ghm-2014/guix-ghm-2014.snm
/talks/ghm-2014/guix-ghm-2014.toc
/talks/ghm-2014/guix-ghm-2014.vrb
/talks/fosdem-2015/guix-fosdem-2015.aux
/talks/fosdem-2015/guix-fosdem-2015.log
/talks/fosdem-2015/guix-fosdem-2015.nav
/talks/fosdem-2015/guix-fosdem-2015.out
/talks/fosdem-2015/guix-fosdem-2015.pdf
/talks/fosdem-2015/guix-fosdem-2015.snm
/talks/fosdem-2015/guix-fosdem-2015.toc
/talks/fosdem-2015/guix-fosdem-2015.vrb
/doc/reppar-2015/reproducible-hpc.aux
/doc/reppar-2015/reproducible-hpc.log
/doc/reppar-2015/reproducible-hpc.out
/doc/reppar-2015/reproducible-hpc.pdf
/doc/reppar-2015/reproducible-hpc.tex
