*~
/talks/ghm-2014/guix-ghm-2014.aux
/talks/ghm-2014/guix-ghm-2014.log
/talks/ghm-2014/guix-ghm-2014.nav
/talks/ghm-2014/guix-ghm-2014.out
/talks/ghm-2014/guix-ghm-2014.pdf
/talks/ghm-2014/guix-ghm-2014.snm
/talks/ghm-2014/guix-ghm-2014.toc
/talks/ghm-2014/guix-ghm-2014.vrb
/talks/fosdem-2015/guix-fosdem-2015.aux
/talks/fosdem-2015/guix-fosdem-2015.log
/talks/fosdem-2015/guix-fosdem-2015.nav
/talks/fosdem-2015/guix-fosdem-2015.out
/talks/fosdem-2015/guix-fosdem-2015.pdf
/talks/fosdem-2015/guix-fosdem-2015.snm
/talks/fosdem-2015/guix-fosdem-2015.toc
/talks/fosdem-2015/guix-fosdem-2015.vrb
/doc/reppar-2015/reproducible-hpc.aux
/doc/reppar-2015/reproducible-hpc.log
/doc/reppar-2015/reproducible-hpc.out
/doc/reppar-2015/reproducible-hpc.pdf
/doc/reppar-2015/reproducible-hpc.tex
/talks/reppar-2015/starpu-emerged-dag.pdf
/talks/reppar-2015/starpu-full-dag.pdf
/talks/reppar-2015/starpu-package-dag.pdf
/talks/reppar-2015/talk.aux
/talks/reppar-2015/talk.log
/talks/reppar-2015/talk.nav
/talks/reppar-2015/talk.out
/talks/reppar-2015/talk.pdf
/talks/reppar-2015/talk.snm
/talks/reppar-2015/talk.toc
/talks/reppar-2015/talk.vrb
/talks/rennes-2015/images/gnunet-graph.pdf
/talks/rennes-2015/talk.aux
/talks/rennes-2015/talk.log
/talks/rennes-2015/talk.nav
/talks/rennes-2015/talk.out
/talks/rennes-2015/talk.pdf
/talks/rennes-2015/talk.snm
/talks/rennes-2015/talk.toc
/talks/rennes-2015/talk.vrb
/talks/fosdem-2016/distributions/images/gimp-graph.pdf
/talks/fosdem-2016/scheme-api/images/coreutils-bag-graph.pdf
/talks/fosdem-2016/scheme-api/images/coreutils-emerged-graph.pdf
/talks/fosdem-2016/scheme-api/images/coreutils-graph.pdf
/talks/fosdem-2016/scheme-api/talk.aux
/talks/fosdem-2016/scheme-api/talk.log
/talks/fosdem-2016/scheme-api/talk.nav
/talks/fosdem-2016/scheme-api/talk.out
/talks/fosdem-2016/scheme-api/talk.pdf
/talks/fosdem-2016/scheme-api/talk.snm
/talks/fosdem-2016/scheme-api/talk.toc
/talks/fosdem-2016/scheme-api/talk.vrb
/talks/ghm-2016/update/talk.aux
/talks/ghm-2016/update/talk.log
/talks/ghm-2016/update/talk.nav
/talks/ghm-2016/update/talk.out
/talks/ghm-2016/update/talk.pdf
/talks/ghm-2016/update/talk.snm
/talks/ghm-2016/update/talk.toc
/talks/ghm-2016/update/talk.vrb
/talks/ghm-2016/subsystems/talk.aux
/talks/ghm-2016/subsystems/talk.log
/talks/ghm-2016/subsystems/talk.nav
/talks/ghm-2016/subsystems/talk.out
/talks/ghm-2016/subsystems/talk.pdf
/talks/ghm-2016/subsystems/talk.snm
/talks/ghm-2016/subsystems/talk.toc
/talks/ghm-2016/subsystems/talk.vrb
